<!DOCTYPE html>
<article>
    <form>
        <div class="grid">
            <details role="list" data-tooltip="Unselect all to enable all" data-placement="bottom">
                {{$projects := .SelectedProjects}}
                <summary aria-haspopup="listbox">
                    Projects{{if $projects}}:{{range .Projects}}{{if index $projects .ID}}{{.Alias}},{{end}}{{end}}{{end}}
                </summary>
                <ul role="listbox">
                    {{range .Projects}}
                        <li>
                            <label>
                                <input type="checkbox" id="project_ids" name="project_ids" value="{{.ID}}"
                                       {{if index $projects .ID}}checked{{end}}>
                                {{.Alias}}
                            </label>
                        </li>
                    {{end}}
                </ul>

            </details>
            <fieldset>
                <label for="per_files">
                    <input type="checkbox" id="per_files" name="per_files" value="true" {{if .PerFiles}}checked{{end}}>
                    Per files counter charts
                </label>
                <label for="per_files_imports">
                    <input type="checkbox" id="per_files_imports" name="per_files_imports" value="true" {{if .PerFilesImports}}checked{{end}}>
                    Per files imports chart
                </label>
            </fieldset>
        </div>
        <div class="grid">
            <div>
                <label for="package_filter">Package Filter</label>
                <input type="text" id="package_filter" name="package_filter"
                       {{with .PackageFilter}}value="{{.}}"{{end}}>
                <small>
                    Package path parts for filtering. ! - for exclude
                    <em data-tooltip="internal,!generated">Example</em>
                </small>
            </div>
            <div>
                <label for="name_filter">File name Filter</label>
                <input type="text" id="name_filter" name="name_filter" {{with .NameFilter}}value="{{.}}"{{end}}>
                <small>
                    File name parts for filtering. ! - for exclude
                    <em data-tooltip="!_test.go,!mock">Example</em>
                </small>
            </div>
        </div>
        <div class="grid">
            <div>
                <label for="trim_package">Trim packages path</label>
                <input type="text" id="trim_package" name="trim_package" {{with .TrimPackage}}value="{{.}}"{{end}}>
                <small>
                    Prefix to cut off from package and import paths. Dependency graph can't connect folders and imports if incorrect config.
                    <em data-tooltip="src/,internal/,github.com/myprofile/myproject/">Example</em>
                </small>
            </div>
        </div>
        <div class="grid">
            <div>
                <label for="commit_filters">Commit graphs filters</label>
                <input type="text" id="commit_filters" name="commit_filters"
                       {{with .CommitFilters}}value="{{.}}"{{end}}>
                <small>
                    Commit message comma separated keywords for commit charts. Separate with ';' for another category.
                    <em data-tooltip="fix,bug;revert">Example</em>
                </small>
            </div>
            <div>
                <label for="file_filters">File content graphs filters</label>
                <input type="text" id="file_filters" name="file_filters" {{with .FileFilters}}value="{{.}}"{{end}}>
                <small>
                    File content comma separated keywords for file charts. Separate with ';' for another category.
                    <em data-tooltip="nolint,todo;billing">Example</em>
                </small>
            </div>
        </div>
        <button type="submit">Apply</button>
    </form>
</article>